@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto Condensed', sans-serif;
    vertical-align: baseline;
}

h1 {
    color: #1a1a1a;
}

p {
    color: #1a1a1a;
}


