@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto Condensed', sans-serif;
    vertical-align: baseline;
    overflow-x: hidden;
}

h1 {
    color: #1a1a1a;
}

p {
    color: #1a1a1a;
}


body::-webkit-scrollbar {
    width: 10px;              
  }
  
  body::-webkit-scrollbar-track {
    background: #f0f0f0;  
 
  }
  
  body::-webkit-scrollbar-thumb {
    background-color:#1a1a1a;    
    border-radius: 0px;     
    border: 3px solid #f0f0f0;  
  
    
  }