.title {
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: blur 3s alternate;
    -webkit-text-stroke: 1px black;
    color: rgba(32, 32, 32, 0);
}

.title {
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: blur 3s alternate;
  -webkit-text-stroke: 1px black;
  color: rgba(32, 32, 32, 0);
}

@keyframes blur {
    from {
      color: black;

    }
    to {
    
    color: rgba(32, 32, 32, 0);
      
    }
  }
