.title {
    font-size: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: blur 3s alternate;
 
}

@keyframes blur {
    from {
      filter: blur(20px);
      font-size: 1rem;
    }
    to {
      filter: blur(0px);
      font-size: 15rem;
      
    }
  }
