nav {
    display: flex;
    justify-content: space-evenly;
    animation: opacity 3s alternate;
    background-color:  #1a1a1a;
    transition: 1s;
    border-bottom: 2px solid;
    border-top: 2px solid;
    
   
}

nav a:hover {
    transition: 1s;
    animation:  hover 1s alternate ;
}


a{
    text-decoration: none;
    color: #f0f0f0;
}
