nav {
    display: flex;
    justify-content: space-evenly;
    animation: opacity 3s alternate;
    background-color:  #1a1a1a;
    transition: 1s;
    border-bottom: 2px solid;
    border-top: 2px solid;
    
    border-image: linear-gradient(
      90deg,
      #bbff00 0%,
      #00ff73 21%,
      #00ffff 46%,
      #00b7ff 69%,
      #0044ff 100%
    ); 
    border-image-slice: 1;
}

nav a:hover {
    transition: 1s;
    animation:  hover 1s alternate ;
}

@keyframes hover {
    from {
        filter: blur(20px);
        color:#00ffff;
    }

    to {
       
    }
}

@keyframes opacity {
    from {
        filter: opacity(0%)
    }
}

a{
    text-decoration: none;
    color: #f0f0f0;
}
