.tecnologies {
    background-color: #ececec;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    color: black;
    border-top: 2px solid  #1a1a1a;
 }
 
 .link-skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }


  .link-skills:hover {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    animation:  hoverSkill 1s alternate infinite;
  }


 @keyframes hoverSkill {
  from {
    transform: rotateZ(0deg);
  
  }

  to {
    transform:rotateZ(100deg)
  }
 }

  .tecnologies p {
    margin-top: 5px;
    font-size: 10px;
  }
